h1 {
	font-size:100px;
	font-family:"Comic Sans MS";
}

h2 {
	font-size:25px;
	font-family:"Comic Sans MS";
}

body {
	text-align: center;
	background-color:#0AA6C9;
}
p {
	text-indent: 15px;
}
button {
	background-color:#CF7B21;
	color: #000000;
	float: center;
	width: 200px;
	height: 100px;
}


td {
	padding: 5px;
}

img {
	width:80px;
	height:80px;
}
