h1 {
	font-size:80px;
	color:#FF2615;
}

h1#displayResult {
	font-size:30px;
}

h2 {
	font-size:25px;
}

body {
	text-align:center;
	background-color:#0AA6C9;
	font-family:"Comic Sans MS"
}

p {
	text-indent: 15px;
}

p#disPlayerScore {
	font-size:35px;
	color:#FF2615;
	font-weight:bold;
}

p#disCompScore {
	font-size:35px;
	color:#FF2615;
	font-weight:bold;
}

button {
	background-color:#CF7B21;
	color: #000000;
	float: center;
	width: 200px;
	height: 100px;
}

button.button:hover {
	width:220px;
	height:120px;
}


td {
	padding: 5px;
}

img {
	width:80px;
	height:80px;
}

h1#explosions {
	position:absolute;
	margin:0 0 0 0;
}